.networks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    &__button {
        @include centeredFlex;
        border: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus {
            background-color: $background-color--button;
            color: $color--white-title;
        }
    }

    &__icon {
        fill: currentColor;
    }
   
}

  