.portfolio-filter {
    @include centeredFlex(flex-start);
    flex-wrap: wrap;
    @extend %list;
    margin-bottom: 50px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 8px;
        }

        @media screen and (max-width: 767px) {
            &:nth-last-child(n + 3) {
                margin-bottom: 15px;
            }
        }
    }

    &__button {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        color: $color--dark-title;
        background-color: $background-color--section-second;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 6px 25px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus {
            color: $color--white-title;
            background-color: $background-color--button;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
        }
    }
    
}
