.portfolio {
    @extend %list;
    // display: flex;
    // flex-wrap: wrap;
    

    &__card {
        width: 100%;
        font-size: 0;
        // margin-right: 30px;
        background-color: $background-color--section-first;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        // &:nth-child(3n) {
        //     margin-right: 0;
        // }

        // &:nth-last-child(-n + 3) {
        //     margin-bottom: 0;
        // } 
    }

    &__picture {
        position: relative;
        overflow: hidden;
    } 

    &__link {
        display: block;
        text-decoration: none;
        color: $color--text;
        font-size: 16px;
        line-height: 1.875;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
            
            .portfolio__wrap {
                transform: translateY(0);
            }
        }
    }

    &__image {
        display: block;
        width: 100%;
    }
    
    &__wrap {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(33, 150, 243, 0.9);
        transform: translateY(101%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__description {
        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: $color--white-title;
    }

    &__name {
        padding: 20px 24px;
        border-width: 0px 1px 1px 1px;
        border-color: #EEEEEE;
        border-style: solid;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $color--dark-title;
        margin-bottom: 4px;
    }
        
}
  