.page-footer {
    background-color: $background-color--hero;

    &__wrap {
        display: flex;
    }

    &__links {
        padding: 60px 0;
    }
    
    &__logo--color {
        color: $color--white-title;
        margin-bottom: 20px;
      }
     
}    