.page-footer {
    background-color: $background-color--hero;

    &__wrap {
        display: block;
    }

    &__links {
        padding-bottom: 60px;
        text-align: center;
    }
    
    &__logo--color {
        color: $color--white-title;
        margin-bottom: 20px;
      }
     
}    