.subscription {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    ::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width: 1199px) {
        max-width: 450px;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        width: 570px;
    }
    
    &__wrap {
        display: block;

        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between
        }
    }
     
    &__input {
        width: 100%;
        font-size: 16px;
        line-height: 1.25;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: $color--hero-title;
        background-color: $background-color--hero;
        padding: 15px 16px;

        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
        
        &:focus {
            border: 1px solid $color--hero-title;
        }
    }

    &__button {
        @include centeredFlex(space-between);
        width: 200px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $color--hero-title;
        background-color: $background-color--button;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        padding: 10px 28px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        @media screen and (max-width: 1199px) {
            margin-right: auto;
            margin-left: auto;
        }

        &:hover, &:focus {
            background-color: $background-color--active-button;
        }
    }

    &__icon {
        fill: currentColor;
    }
    
}
  