.contacts {
    display: none;
    @extend %list;
    outline: 1px solid blueviolet;
    // display: inline-flex;
    // margin-top: 0;
    // margin-bottom: 0;
    // margin-left: auto;
    // list-style: none;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;

    // &__reference + &__reference {
    //     margin-left: 50px;
    // }

    &__link {
    //     display: flex;
    //     padding: 0;
    //     align-items: center;
        color: $color--text;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            color: $color--second-text;
        }
    }

    &__icon {
        display: none;
        fill: currentColor;
    //     padding: 0;
    //     margin-right: 10px;
    }
}

  