.page-header {
    border-bottom: 1px solid #ECECEC;

    &__wrap {
        @include centeredFlex(center);
        height: 60px;

        @media screen and (min-width: 768px) {
            height: 80px;
        }
    }

    &__nav {
        display: flex;
    }
}
  