$color--dark-title: #212121;
$color--white-title: #FFFFFF;
$color--text: #757575;
$color--second-text: #2196F3;
$color--hero-title: #FFFFFF;
$color--icon: #AFB1B8;

$background-color--hero: #2F303A;
$background-color--section-first: #FFFFFF;
$background-color--section-second: #F5F4FA;
$background-color--button: #2196F3;
$background-color--active-button: #188CE8;