.features-list {
    display: block;
    @extend %list;
    line-height: 1.71;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    &__feature {

        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 1 * 30px) / 2);
            margin-bottom: 30px;
            
            &:nth-child(2n + 1) {
                margin-right: 30px; 
            }

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }
            
        @media screen and (min-width: 1200px) {
            width: calc((100% - 3 * 30px) / 4);
            margin-right: 30px;

            &:nth-child(4) {
                margin-right: 0;
            }
        } 
    }

    &__icon {
        @include centeredFlex;
        padding: 0;
        border: none;
        height: 120px;
        margin-bottom: 30px;
        background-color: $background-color--section-second;
        border-radius: 4px;
        // width: 270px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $color--dark-title;
        margin-bottom: 10px;
    }
}
