.features-list {
    // display: flex;
    // @extend %list;
    // line-height: 1.71;
    display: block;
    @extend %list;
    line-height: 1.71;

    &__feature {
        // width: 270px;
        // margin-right: 30px;

        // &:nth-child(4) {
        //     margin-right: 0;
        // }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__icon {
        @include centeredFlex;
        padding: 0;
        border: none;
        // width: 270px;
        height: 120px;
        margin-bottom: 30px;
        background-color: $background-color--section-second;
        border-radius: 4px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $color--dark-title;
        margin-bottom: 10px;
    }
}
