.team {
    background-color: $background-color--section-second;

    &__list {
        @extend %list;
        display: block;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__card {
        background-color: $background-color--section-first;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 1 * 30px) / 2);
            margin-bottom: 30px;
            
            &:nth-child(2n + 1) {
                margin-right: 30px; 
            }

            &:nth-last-child(-n + 2) {
                margin-bottom: 0;
            }
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 3 * 30px) / 4);
            margin-right: 30px;

            &:nth-child(4) {
                margin-right: 0;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        padding: 30px 0 24px;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: $color--dark-title;
    }
    
    &__position {
        margin-bottom: 16px;
    }

    &__button {

        &--color {
            color: $color--icon;
        }
    }

}
  